<!--
    MathML is getting support in browsers, maybe we can try it instead.
-->

<template id="template-katex">
    <div></div>
    <slot style="display: none;"></slot>
</template>

<script>
    customElements.define('ca-katex', class extends HTMLElement {
        constructor() {
            super()
            this.attachShadow({mode: 'open'})
            this.shadowRoot.appendChild(document.querySelector('#template-katex').content.cloneNode(true))
            customElements.upgrade(this)

            this.shadowRoot.prepend(document.querySelector('style').cloneNode(true))
            this.shadowRoot.querySelector('slot').addEventListener('slotchange', e => {
                this.render_katex(e.target.assignedNodes()[0].textContent.trim())
            })
        }

        render_katex(code) {
            katex.render(code, this.shadowRoot.querySelector("div"), {
                displayMode: this.hasAttribute('display'),
                output: 'html'
            })
        }
    })
</script>

