<template id="template-num">
    <slot style="display: none;"></slot>
</template>

<script>
    customElements.define('ca-num', class extends HTMLElement {
        constructor() {
            super()
            this.attachShadow({mode: 'open'})
            this.shadowRoot.appendChild(document.querySelector('#template-num').content.cloneNode(true))
            customElements.upgrade(this)

            this.shadowRoot.querySelector('slot').addEventListener('slotchange', e => this.render())
        }

        connectedCallback() {
            if (this.content) return
            this.type = this.getAttribute('type') || 'html'
            this.content = (() => {
                switch (this.type) {
                    case 'tex': return document.createElement('ca-katex')
                    case 'html': return document.createElement('span')
                    case 'plain': return document.createElement('span')
                }
            })()
            this.shadowRoot.appendChild(this.content)
        }

        render() {
            if (!this.content) return
            const format = this.getAttribute('format') || 'e'
            const exp = parseFloat(this.shadowRoot.querySelector('slot').assignedNodes()[0].textContent.trim())
            this.content.innerHTML = exp_num_to_str(exp, format, this.type)
        }

        static get observedAttributes() {
            return ['format']
        }

        attributeChangedCallback(name, oldValue, newValue) {
            this.render()
        }
    })
</script>

