<template id="template-num">
    <slot style="display: none;"></slot>
</template>

<script>
    customElements.define('ca-num', class extends HTMLElement {
        constructor() {
            super()
            const template = document.querySelector(`#template-${this.tagName.slice(3).toLowerCase()}`)
            this.attachShadow({mode: 'open'}).append(template.content.cloneNode(true))
            customElements.upgrade(this)

            this.render = this.render.bind(this)
            this.shadowRoot.querySelector('slot').addEventListener('slotchange', this.render)
            game.on('config.number_format', this.render)
        }

        connectedCallback() {
            if (this.content) return
            this.type = this.getAttribute('type') || 'html'
            this.content = (() => {
                switch (this.type) {
                    case 'tex': return document.createElement('ca-katex')
                    case 'html': return document.createElement('span')
                    case 'plain': return document.createElement('span')
                }
            })()
            this.shadowRoot.appendChild(this.content)
        }

        render() {
            if (!this.content) return
            const exp = parseFloat(this.shadowRoot.querySelector('slot').assignedNodes()[0].textContent.trim())
            const format = (() => {
                for (const [i, cut_off] of number_format_cut_offs.entries()) if (exp < cut_off)
                    return game.config.number_format[i]
                return game.config.number_format[number_format_cut_offs.length]
            })()
            this.content.innerHTML = exp_num_to_str(exp, format, this.type)
        }
    })
</script>

